name: 02 - Workflow Events

#on: push

on:
    push:
    pull_request:
    schedule:
        - cron: '0/5 * * * *'
    # enabling triggerig rom the UI
    workflow_dispatch:

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "I've been triggered by a(n) ${{ github.event_name }} event."

# Just an edit for a trigger.
