name: 04 - Using Actions

on: push

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '20.x'
            - name: Print Debug
              run: ls -a
              working-directory: 04-using-actions/react-app
            - name: Install Dependencies
              run: |
                ls -a
                npm ci
              working-directory: 04-using-actions/react-app
